@import "modules/common";
@import "modules/navigation";

// body default style
body {
  section {
    &.header {
      div.banner {
        margin: 0 5% 0 5%;
        overflow: hidden;
        object-fit: cover;
        @media screen and (max-width: 750px) {
          margin: 0;
        }
      } 
    }
    &.maincontent {
      margin: 20px 10% 20px 10%;
    }
  }
}
