@import "modules/common";
@import "modules/navigation";

// body default style
body {
  section {
    &.header {
      div.banner {
        margin: 0 5% 0 5%;
        overflow: hidden;
      } 
    }
    &.maincontent {
      margin: 20px 10% 20px 10%;
    }
  }
}
