@import "modules/common";
@import "modules/navigation";

// body default style
body {
  font-size: 1.1rem;
  font-family: $text-font;
  background-color: $background-color;
  
  p {
    text-justify: auto;
  }
  h1 {
    font-size: 2rem;
    color: $yellow;
    font-family: $title-font;
    border-bottom: 2px solid $yellow;
  }

  section {
    &.header {
      margin: 0 20px 0 20px;
      div.banner {
        overflow: hidden;
      } 
    }
    &.maincontent {
      margin: 20px 10% 20px 10%;
    }
  }
}
