image: node

stages:
  - build
  - test
  - cov

cache:
  paths:
    - node_modules/

install_dependencies:
  stage: build
  script:
    - npm i
  artifacts:
    paths:
      - node_modules/

test:
  stage: test
  script: npm test

coverage: 
  stage: cov
  script: npm run ci