!!! 5
html
    head
        block title(pageTitle)
            title=pageTitle
        block scripts
            script(type="text/javascript" src="/js/jquery.min.js")
            script(type="text/javascript" src="/js/jquery-ui.min.js")
        block stylesheets
    body
        block body