// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed&display=swap');

$title-font: 'Roboto Condensed', sans-serif, 'Liberation';
$text-font: 'Open Sans', 'Liberation';

// Colors
$background-color: #FFF4A8;
$yellow: #EDB230;
$darkblue: #2C363F;

// Icons