nav.navigation-bar {
  div.nav-wrapper {
    margin: 0 5% 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    // Responsive
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }

    // nav item
    a.nav-item {
      &.bordered {
        border-right: 1px solid $darkblue;
      }

      &.home {
        background-color: $darkblue;
        color: $yellow;

        &:hover {
          background-color: darken($darkblue, 10%);
        }
      }

      &:hover {
        background-color: $darkyellow;
      }

      width: 100%;
      height: 50px;
      text-decoration: none;
      font-size: 1.1rem;

      background-color: $yellow;
      color: $darkblue;

      // text align center horizontically and vertically
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}